{% extends 'blog/formulariobase.html' %}
{% block content %}
<body>
    About Us - Nuestro proyecto para CODER HOUSE

    Bienvenidos!

    Somos un equipo de tres personas que viven y trabajan en 2 países diferentes.
    Estamos trabajando para crear un Blog donde nuestros "clientes" puedan registrarse y realizar distintas tareas, 
    como por ejemplo: Realizar Posteo, Visitar perfiles de amigos, Seguirlos e Informarse en el sector de Noticias.
    Nos preocupamos por crear un proyecto de calidad, relaciones de confianza con nuestros "clientes" y un sentido de comunidad que conecte a nuestros clientes y equipo entre sí.

    ¿Quienes somos?

    Sebastian de.......

    Catia de Ushuaia, Tierra Del Fuego, 28 años.

    Luciano de ....

    Para obtener más información sobre nuestro enfoque de trabajo, no dude en visitar nuestro blog abierto.

</body>

<p><a href="{% url 'ingreso' %}">Ingresar</a></p>
{% endblock %}
