{% extends 'blog/formulariobase.html' %}
{% block content %}


About Us - Nuestro proyecto para CODER HOUSE<br><br>
Bienvenidos!<br>
Somos un equipo de tres personas que viven y trabajan en 2 países diferentes. <br>
Estamos trabajando para crear un Blog donde nuestros "clientes" puedan registrarse y realizar distintas tareas, 
como por ejemplo: Realizar Posteo, Visitar perfiles de amigos, Seguirlos e Informarse en el sector de Noticias. <br>
Nos preocupamos por crear un proyecto de calidad, relaciones de confianza con nuestros "clientes" y un sentido de comunidad que conecte a nuestros clientes y equipo entre sí. <br><br>

¿Quienes somos?<br>
Sebastian de Buga-Colombia, Tierra del Café, 28 años. <br>
Catia de Ushuaia-Argentina, Tierra Del Fuego, 28 años. <br>
Luciano de Chaco-Argentina, Tres isletas, 20 años. <br><br>

Para obtener más información sobre nuestro enfoque de trabajo, no dude en visitar nuestro blog abierto.
<p><a href="{% url 'feed' %}">Ir al inicio</a></p>

{% endblock %}

